#### In this notebook we will learn how to use the `groupby()` method of pandas. It is a very important function when it comes to segregating and deriving insights from a specific part of dataset.

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot', 
                              'Eagle','Parrot',
                              'Falcon', 'Eagle'],
                   'Max Speed': [380., 370., 24., 26., 145., 23, 310, 122.]})
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0
4   Eagle      145.0
5  Parrot       23.0
6  Falcon      310.0
7   Eagle      122.0

#### now lets say, we want to know the average max speed per animal group, meaning what is falcon's average max speed, what is parrot's max speed and so on. For this `groupby()` would be a perfect choice as this groups the data by a specific column, in our case this column is `Animal`

In [3]:
df.groupby(['Animal']).mean()

         Max Speed
Animal
Eagle   133.500000
Falcon  353.333333
Parrot   24.333333

#### As we see above, groupby has to be chained with other methods (in the above case we used mean) to get the result. This will always be the case, as `groupby()` doesnot return a pandas dataframe but a pandas object which is not printable. Be sure to read about how this function works at this [page](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) and try them out before attempting the tasks.

### Turbulent turbines

You've been appointed as a Data Analyst for the hottest green energy company. Your tasks are to analyze the performance of a wind farm, composed of 3 types of wind turbines. You have been given two datasets:
- a CSV file containing time series data for each turbine (turbine id, power output and timestamp).
- a CSV file containing metadata for each turbine (turbine id and turbine type).  

The data you received is imperfect: certain records have a null power output entry, indicating a temporary turbine failure.

#### Task 1

Load the two csv files `turbulent_turbines_power.csv` and `turbulent_turbines_type.csv` and combine them into a single dataset. Also print the first few rows of this combined dataset.

In [4]:
ttp = pd.read_csv("turbulent_turbines_power.csv")
ttt = pd.read_csv("turbulent_turbines_type.csv")
merged_df = pd.merge(ttp, ttt, on='turbine_id')


#print(merged_df.head(7))
print(merged_df)

                  datetime  turbine_id  turbine_power turbine_type
0      2023-01-01 00:00:00           0      14.715189            D
1      2023-01-01 01:00:00           0      14.602763            D
2      2023-01-01 02:00:00           0      14.544883            D
3      2023-01-01 03:00:00           0      14.423655            D
4      2023-01-01 04:00:00           0      14.645894            D
...                    ...         ...            ...          ...
16895  2023-03-07 20:00:00          99      14.883025            D
16896  2023-03-07 21:00:00          99      14.125486            D
16897  2023-03-07 22:00:00          99      14.476338            D
16898  2023-03-07 23:00:00          99      14.446633            D
16899  2023-03-08 00:00:00          99      14.541322            D

[16900 rows x 4 columns]

#### Task 2

Next, determine which turbine type had the lowest average power output in March, considering only non-null values. Print the associated model type and its average power output.

In [5]:

selected_col=merged_df[['turbine_type','turbine_power','datetime']]
selected_col['datetime'] = pd.to_datetime(selected_col['datetime'])
power_output_march = selected_col[(selected_col['datetime'] >= '2023-03-01') & (selected_col['datetime'] <= '2023-03-31')]
selected_col_mean=power_output_march.groupby(['turbine_type']).mean()
print(selected_col_mean)

lowest_average_power = selected_col_mean.min()
lowest_turbine_type = selected_col_mean.idxmin()

print("Lowest Average Turbine power and it's type is:")
print(lowest_average_power,lowest_turbine_type)

              turbine_power
turbine_type
A                 12.503414
B                 17.514218
C                 19.499008
D                 14.506534
Lowest Average Turbine power and it's type is:
turbine_power    12.503414
dtype: float64 turbine_power    A
dtype: object

C:\Users\HP\AppData\Local\Temp\ipykernel_23508\282211938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_col['datetime'] = pd.to_datetime(selected_col['datetime'])
C:\Users\HP\AppData\Local\Temp\ipykernel_23508\282211938.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  selected_col_mean=power_output_march.groupby(['turbine_type']).mean()

### Task 3

Finally, calculate the failure ratio (number of failures / number of readings) per turbine type. Find the turbine type with the highest failure ratio and print the type and its failure ratio.

In [7]:
merged_dff=pd.concat([ttp,ttt], axis=1)
#turbine_type_counts = merged_df['turbine_type'].value_counts()
reading_counts_by_type = merged_df['turbine_type'].value_counts()
nan_power_count = merged_dff['turbine_power'].isna().sum()
failure_ratio_by_type = nan_power_count / reading_counts_by_type
print(failure_ratio_by_type)
highest_failure_ratio_type = failure_ratio_by_type.idxmax()
highest_failure_ratio = failure_ratio_by_type.max()
print(highest_failure_ratio_type)
print(highest_failure_ratio)

A    0.620894
C    0.666886
B    0.720237
D    0.947680
Name: turbine_type, dtype: float64
D
0.9476798505138586